@page "{id:int}"
@model MinecraftQuiz.Pages.QuizItems.EditModel

@{
  ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>QuizItem</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="QuizItem.ID" />
      <div class="form-group">
        <label asp-for="QuizItem.Question" class="control-label"></label>
        <input asp-for="QuizItem.Question" class="form-control" />
        <span asp-validation-for="QuizItem.Question" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="QuizItem.Answer" class="control-label"></label>
        <input asp-for="QuizItem.Answer" class="form-control" />
        <span asp-validation-for="QuizItem.Answer" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
